# This is Git's per-user configuration file.
[user]
	name = Einstein Core
	email = punkproto@fastmail.com
# Please adapt and uncomment the following lines:
#	name = Einstein Core
#	email = punkproto@fastmail.com
